# Default ignored files
/shelf/
/workspace.xml
.idea
.vscode
.venv
build
/server/bin/
/server/lib/
/indexxo-playground/
*.pyc
/*/__pycache__/
/*/include/
*.sqlite
server/lib64
server/pyvenv.cfg

node_modules